html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	color:#444;
	font-family:'Meiryo UI', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size:12px;
	line-height:1.5em;
	padding:1em;
	margin:auto;
	max-width:50em;
	background:#fefefe;
}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

a.term:hover{ text-decoration:underline; }
a.autolink:hover{ text-decoration:underline; }

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p{
	margin:1em 0;
}

p.footnote{  font-size: 80%; line-height: 1.1em; }
p.fig_title{ text-align: center; font-weight: bold; line-height: 0.6em; padding-bottom: 10px }
p.tbl_title{ text-align: center; font-weight: bold; line-height: 0.6em; padding-top:    10px }
p.pagebreak{ page-break-after: always; }

img{
	max-width:100%;
}

h1,h2,h3,h4,h5,h6{
	padding-top: 0.5em;
	font-weight:normal;
	color:#111;
	line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ margin-top:1.5em; font-size:2.5em; }
h2{ margin-top:1.5em; font-size:2em; }
h3{ margin-top:1.5em; font-size:1.5em; }
h4{ margin-top:1.5em; font-size:1.2em; }
h5{ margin-top:1.5em; font-size:1em; }
h6{ margin-top:1.5em; font-size:0.9em; }

blockquote{
	color:#666666;
	margin:0;
	padding-left: 1.5em;
	border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;
	 border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

kbd, samp { color: #000; background:#eee;
				 line-height:1.2em;
				 _font-family: monospace, monospace;
				 font-family: 'Courier New', monospace; font-size: 0.98em; }
code { color: #000;
	   line-height:1.2em;
	   _font-family: monospace, monospace;
	   font-family: 'Courier New', monospace; font-size: 0.98em; }

/* normal pre block */
pre {
	background:	#eee;
	color:		#000;
	font-size:	0.98em;
	border:			1px solid #ccc;
	border-radius:	8px;
	margin-left:	2em;
	margin-right:	2em;
	padding:		.5em;

	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height:1.2em;
	_font-family: monospace, monospace;
	font-family: 'Courier New', monospace;
}

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-weight: bold; }
mark_bak { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0.2em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table {
border-collapse: collapse;
border-spacing: 0;
}
th { text-align;  center; padding: 3px; border: 1px solid black; border-bottom: 2px solid black; background: #D9E2F3  }
td { vertical-align: top; padding: 3px; border: 1px solid black;}

/* for filters */
pre.diff {
	background:		#334;
	color:			#fff;
	font-size:		14px;
	border:			1px solid #000;
	border-radius:	8px;
	margin-left:	2em;
	margin-right:	2em;
	padding:		.5em;
}
span.diff_head { color: #FF88FF; background: #550055; font-weight: bold; }
span.diff_line { color: #CCCCFF; background: #000077; font-weight: bold; }
span.diff_add  { color: #DCFBDC; background: #004400; font-weight: bold; }
span.diff_del  { color: #FBDCDC; background: #550000; font-weight: bold; }

pre.code {
	background:		#334;
	color:			#fff;
	font-size:		14px;
	border:			1px solid #000;
	border-radius:	8px;
	margin-left:	2em;
	margin-right:	2em;
	padding:		.5em;
}
span.comment  { color: darkorange; }
span.keyword1 { color: cyan; }
span.keyword2 { color: lime; }
span.keyword3 { color: slateblue; }
span.keyword4 { color: yellow; }
span.keyword5 { color: skyblue; }
span.keyword6 { color: lightgray; }
span.literal  { color: pink; }


/* for collapse */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    background: #fefeee;
}
summary {
    margin: -.5em -.5em 0;
    padding: .5em;
}
details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}



@media only screen and (min-width: 480px) {
body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
body{font-size:16px;}
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  body{font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
